*{
	background-attachment: fixed;
}
.shadow{
	box-shadow: 7px 7px 2px 1px #99B2C0;
	width: 300px;
	padding: 10px;
	border: 1px outset rgba(128, 128, 128, 0.2);
}
ul{
	list-style: none;
	padding-left: 0;
}
span{
	font-weight: bold;
}
.info{
	border: 2px solid rgba(128, 128, 128, 0.2);
	font-size: 14px;
	padding: 10px;
}
img{
	padding-right: 10px;
}